	<div class="footer">
		<div class="container">
			<div class="row">

				<div class="col-lg-6 col-lg-push-3 col-md-5 col-md-push-3 col-sm-12 col-xs-12">
					<div class="col-lg-4 col-md-6 col-sm-6 col-xs-6 no-hundred">
						<ul class="list">
							<li class="list__item">
								<a href="#">
									<span>О проекте</span>
								</a>
							</li>

							<li class="list__item">
								<a href="#">
									<span>Рекламодателям</span>
								</a>
							</li>
							<li class="list__item">
								<a href="#">
									<span>Контакты</span>
								</a>
							</li>
							<li class="list__item hidden-lg">
								<a href="#">
									<span>Оплата услуг</span>
								</a>
							</li>
						</ul>
					</div>
					<div class="col-lg-4 col-md-6 col-sm-6 col-xs-6 no-hundred">
						<ul class="list">
							<li class="list__item">
								<a href="#">
									<span>Отзывы</span>
								</a>
							</li>
							<li class="list__item">
								<a href="#">
									<span>Карта сайта</span>
								</a>
							</li>
							<li class="list__item">
								<a href="#">
									<span>Наши партнеры</span>
								</a>
							</li>
							<li class="list__item hidden-lg">
								<a href="#">
									<span>Политика возврата</span>
								</a>
							</li>
						</ul>
					</div>
					<div class="col-lg-4 visible-lg">
						<ul class="list">
							<li class="list__item">
								<a href="#">
									<span>Оплата услуг</span>
								</a>
							</li>
							<li class="list__item">
								<a href="#">
									<span>Политика возврата</span>
								</a>
							</li>
						</ul>
					</div>
				</div>
				<div class="col-lg-3 col-lg-pull-6 col-md-3 col-md-pull-5 col-sm-6 col-xs-5">
					<div class="copyright">
						© СТРОЙКА.kz 2015
					</div>
					<div class="nets">
						<a href="#" class="nets__item is-vk">
							<i class="nets__icon"></i>
						</a>
						<a href="#" class="nets__item is-facebook">
							<img src="img/icons/face.png">
						</a>
						<a href="#" class="nets__item is-twitter">
							<img src="img/icons/twit.png">
						</a>
						<a href="#" class="nets__item is-gplus">
							<img src="img/icons/google.png">
						</a>
					</div>
				</div>
				<div class="col-lg-3 col-md-4  col-sm-6 col-xs-7">
					<div class="footer__pay">
						<i class="icon-visa"></i>
						<i class="icon-mastercard"></i>
						<i class="icon-maestro"></i>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="menu-mob">
		<div class="menu-mob__scroll">
			<ul class="menu-mob__menu">
				<li>
					<a href="#">
						Мой Дом
					</a>
				</li>
				<li>
					<a href="#">
						СтройИнфо
					</a>
				</li>
				<li>
					<a href="#">
						Каталог 
					</a>
				</li>
				<li>
					<a href="#">
						СтройКупон
					</a>
				</li>
				<li>
					<a href="#">
						Журнал «Стройка»
					</a>
				</li>
				<li>
					<a href="#">
						Новые Компании
					</a>
				</li>
			</ul>
			<a href="" class="app">
				<i class="icon-phone"></i>
				<span>Скачать мобильное приложение</span>
			</a>
			<ul class="menu-mob__bottom">
				<li>
					<a href="#">
						о проекте
					</a>
				</li>
				<li>
					<a href="#">
						рекламодателям
					</a>
				</li>
				<li>
					<a href="#">
						контакты
					</a>
				</li>
			</ul>
		</div>
	</div>
	<div class="sidebar-mob open-sidebar">
		<button class="btn-close btn-close_white js-btn-close" type="button"></button>
		<ul class="sidebar-mob__scroll">
			<li>
				<a href="#">Баня, сауна, бассейны <span>5</span></a>
				
			</li>
			<li>
				<a href="#">Быстровозводимые здания и сооружения<span>2</span></a>
				
			</li>
			<li>
				<a href="#">Бытовки <span>1</span></a>
				
			</li>
			<li>
				<a href="#">Внутренние работы<span>15</span></a>
				
			</li>
			<li>
				<a href="#">Все в дом<span>4</span></a>
				
			</li>
			<li>
				<a href="#">Все о ремонте<span>17</span></a>
				
			</li>
			<li>
				<a href="#">Выбор строителей<span>1</span></a>
				
			</li>
			<li>
				<a href="#">Деревянные дома<span>1</span></a>
				
			</li>
			<li>
				<a href="#">Дизайн, интерьер<span>2</span></a>
				
			</li>
			<li>
				<a href="#">Жалюзи<span>1</span></a>
				
			</li>
			<li>
				<a href="#">Жидкие обои <span>4</span></a>
				
			</li>
			<li>
				<a href="#">Капитальные дома <span>2</span></a>
				
			</li>
			<li>
				<a href="#">
					Кондиционеры
					<span>4</span>
				</a>
				
			</li>
			<li>
				<a href="#">
					Кровля
					<span>1</span>
				</a>
			
			</li>
			<li>
				<a href="#">
					Лестницы
					<span></span>
				</a>
				
			</li>
			<li>
				<a href="#">
					Межкомнатные двери
					<span>8</span>
				</a>
				
			</li>
			<li>
				<a href="#">
					Металлопрокат
					<span>5</span>
				</a>
				
			</li>
			<li>
				<a href="#">
					Наружные работы
					<span>6</span>
				</a>
				
			</li>
			<li>
				<a href="#">
					О строительных материалах
					<span>14</span>
				</a>
				
			</li>
			<li>
				<a href="#">
					Пиломатериалы
					<span>6</span>
				</a>
				
			</li>
			<li>
				<a href="#">
					Пластиковые окна
					<span>10</span>
				</a>
				
			</li>
			<li>
				<a href="#">
					Все о ремонте
					<span>17</span>
				</a>
				
			</li>
			<li>
				<a href="#">
					Выбор строителей
					<span>1</span>
				</a>
				
			</li>
			<li>
				<a href="#">
					Деревянные дома
					<span>1</span>
				</a>
				
			</li>
			<li>
				<a href="#">
					Дизайн, интерьер
					<span>2</span>
				</a>
				
			</li>
			<li>
				<a href="#">
					Жалюзи
					<span>1</span>
				</a>
				
			</li>
			<li>
				<a href="#">
					Жидкие обои
					<span>4</span>
				</a>
				
			</li>
		</ul>
	</div>
	<div class="sidebar-mob open-bar">
		<button class="btn-close btn-close_white js-btn-close" type="button"></button>
		<ul class="sidebar-mob__scroll">
			<li>
				<a href="#">Профиль</a>
				
			</li>
			<li>
				<a href="#">Контакты</a>
				
			</li>
			<li>
				<a href="#">Товары и услуги</a>
				
			</li>
			<li>
				<a href="#">СтройМастер</a>
				
			</li>
			<li>
				<a href="#">Тендеры</a>
				
			</li>
			<li>
				<a href="#">Продвижение на портале</a>
				
			</li>
			<li>
				<a href="#">Новости портала</a>
				
			</li>
			<li>
				<a href="#">Сообщения</a>
				
			</li>
		</ul>
	</div>
	<div class="section section-mob">
		<button class="btn-close btn-close_white js-btn-close" type="button"></button>
		<ul class="section-mob__scroll">
			<li class="section__name">
				категории товаров
			</li>
			<li class="section__item js-section-item-mob">
				<div class="section__relative">
					<i class="section__icon icon-plumb"></i>
					<span>Водоснобжение и отопление</span>
				</div>
				<ul class="section__list js-section-list">
					
					<li>
						<a href="#">Пиломатериалы</a>
					</li>
					<li>
						<a href="#">Каркасно-модульные сборные здания и сооружения. Металлоконструкции </a>
					</li>
					<li>
						<a href="#">Керамическая плитка. Мозаика</a>
					</li>
					<li>
						<a href="#">Кровельные материалы и системы </a>
					</li>
					<li>
						<a href="#">Лакокрасочные материалы и строительная химия</a>
					</li>
					<li>
						<a href="#">Металлопрокат. Метизы. Сбор </a>
					</li>
					<li>
						<a href="#">металлолома </a>
					</li>

				</ul>
			</li>
			<li class="section__item js-section-item-mob">
				<div class="section__relative">
					<i class="section__icon icon-drill"></i>
					<span>Оборудование и инструмены</span>
				</div>
				<ul class="section__list js-section-list">
					<li>
						<a href="#">Вентиляция. Кондиционирование</a>
					</li>
					<li>
						<a href="#">Водоснабжение. Водоподготовка </a>
					</li>
					<li>
						<a href="#">Водопровод, Водоудаление</a>
					</li>
					<li>
						<a href="#">Двери входные </a>
					</li>
					<li>
						<a href="#">Дерево. Изделия из дерева. </a>
					</li>
					<li>
						<a href="#">Пиломатериалы</a>
					</li>
					<li>
						<a href="#">Каркасно-модульные сборные здания и сооружения. Металлоконструкции </a>
					</li>
					<li>
						<a href="#">Керамическая плитка. Мозаика</a>
					</li>
					<li>
						<a href="#">Кровельные материалы и системы </a>
					</li>
					<li>
						<a href="#">Лакокрасочные материалы и строительная химия</a>
					</li>
					<li>
						<a href="#">Металлопрокат. Метизы. Сбор </a>
					</li>
					<li>
						<a href="#">металлолома </a>
					</li>

				</ul>
			</li>
			<li class="section__item js-section-item-mob">
				<div class="section__relative">
					<i class="section__icon icon-paint"></i>
					<span>Отделочные материалы</span>
				</div>
				<ul class="section__list js-section-list">
					
					<li>
						<a href="#">Водопровод, Водоудаление</a>
					</li>
					<li>
						<a href="#">Двери входные </a>
					</li>
					<li>
						<a href="#">Дерево. Изделия из дерева. </a>
					</li>
					<li>
						<a href="#">Пиломатериалы</a>
					</li>
					<li>
						<a href="#">Каркасно-модульные сборные здания и сооружения. Металлоконструкции </a>
					</li>
					<li>
						<a href="#">Керамическая плитка. Мозаика</a>
					</li>
					<li>
						<a href="#">Кровельные материалы и системы </a>
					</li>
					

				</ul>
			</li>
			<li class="section__item js-section-item-mob">
				<div class="section__relative">
					<i class="section__icon icon-brick"></i>
					<span>Строительные материалы</span>
				</div>
				<ul class="section__list js-section-list">
					
					<li>
						<a href="#">Двери входные </a>
					</li>
					<li>
						<a href="#">Дерево. Изделия из дерева. </a>
					</li>
					<li>
						<a href="#">Пиломатериалы</a>
					</li>
					
					<li>
						<a href="#">Лакокрасочные материалы и строительная химия</a>
					</li>
					<li>
						<a href="#">Металлопрокат. Метизы. Сбор </a>
					</li>
					<li>
						<a href="#">металлолома </a>
					</li>

				</ul>
			</li>
		</ul>
	</div>
	<div class="filter filter-mob">
		<button class="btn-close btn-close_white js-btn-close" type="button"></button>
		<div class="filter-mob__scroll">
			<div class="filter__name">
				фильтры
			</div>
			<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
				<div class="panel panel-default">
				    <div class="panel-heading" role="tab" id="headingEight">
				        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseEight" aria-expanded="true" aria-controls="collapseEight" class="filter__link is-open js-accord">
				          цена
				          <i class="filter__icon"></i>
				        </a>
				    </div>
				    <div id="collapseEight" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingEight">
					    <div class="panel-body filter__content">
					        <div class="filter__price">
					        	<div>
					        		<input class="js-input-from" type="text" placeholder="800">
					        		<span>-</span>
					        		<input class="js-input-to" type="text" placeholder="45000">
					        		<span>руб</span>
					        	</div>
					        	<div class="js-slider-ui"></div>
					        </div> 
					    </div>
				    </div>
				</div>
				<div class="panel panel-default">
				    <div class="panel-heading" role="tab" id="headingNine">
				        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseNine" aria-expanded="false" aria-controls="collapseNine" class="collapsed filter__link js-accord">
				          производитель
				          <i class="filter__icon"></i>
				        </a>
				    </div>
				    <div id="collapseNine" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingNine">
				      	<div class="panel-body filter__content">
				        	<form>
			        			<div class="filter-check">
			        				<label>
			        					<input type="checkbox">
			        					<span class="filter-check__text">
			        						<i></i>
			        						до 3000 м2
			        					</span>
			        				</label>
			        			</div>
			        			<div class="filter-check">
			        				<label>
			        					<input type="checkbox">
			        					<span class="filter-check__text">
			        						<i></i>
			        						0,8 кг
			        					</span>
			        				</label>
			        			</div>
			        			<div class="filter-check">
			        				<label>
			        					<input type="checkbox">
			        					<span class="filter-check__text">
			        						<i></i>
			        						0,9 л.
			        					</span>
			        				</label>
			        			</div>
			        			<div class="filter-check">
			        				<label>
			        					<input type="checkbox">
			        					<span class="filter-check__text">
			        						<i></i>
			        						2,7 л, 9 л, 18 л
			        					</span>
			        				</label>
			        			</div>
			        			<div class="filter-check">
			        				<label>
			        					<input type="checkbox">
			        					<span class="filter-check__text">
			        						<i></i>
			        						0,75 кг
			        					</span>
			        				</label>
			        			</div>
			        			
				        	</form>	
				      	</div>
				    </div>
				</div>
				<div class="panel panel-default">
				    <div class="panel-heading" role="tab" id="headingTen">
				        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTen" aria-expanded="false" aria-controls="collapseTen" class="collapsed filter__link js-accord">
				          цвет
				          <i class="filter__icon"></i>
				        </a>
				    </div>
				    <div id="collapseTen" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTen">
				      	<div class="panel-body filter__content">
				        	<form>
			        			<div class="filter-check">
			        				<label>
			        					<input type="checkbox">
			        					<span class="filter-check__text">
			        						<i></i>
			        						до 3000 м2
			        					</span>
			        				</label>
			        			</div>
			        			<div class="filter-check">
			        				<label>
			        					<input type="checkbox">
			        					<span class="filter-check__text">
			        						<i></i>
			        						0,8 кг
			        					</span>
			        				</label>
			        			</div>
			        			<div class="filter-check">
			        				<label>
			        					<input type="checkbox">
			        					<span class="filter-check__text">
			        						<i></i>
			        						0,9 л.
			        					</span>
			        				</label>
			        			</div>
			        			<div class="filter-check">
			        				<label>
			        					<input type="checkbox">
			        					<span class="filter-check__text">
			        						<i></i>
			        						2,7 л, 9 л, 18 л
			        					</span>
			        				</label>
			        			</div>
			        			<div class="filter-check">
			        				<label>
			        					<input type="checkbox">
			        					<span class="filter-check__text">
			        						<i></i>
			        						0,75 кг
			        					</span>
			        				</label>
			        			</div>
			        			
				        	</form>	
				      	</div>
				    </div>
				</div>
				<div class="panel panel-default">
				    <div class="panel-heading" role="tab" id="headingEleven">
				        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseEleven" aria-expanded="false" aria-controls="collapseEleven" class="collapsed filter__link js-accord">
				          объем
				          <i class="filter__icon"></i>
				        </a>
				    </div>
				    <div id="collapseEleven" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingEleven">
				      	<div class="panel-body filter__content">
				        	<form>
			        			<div class="filter-check">
			        				<label>
			        					<input type="checkbox">
			        					<span class="filter-check__text">
			        						<i></i>
			        						до 3000 м2
			        					</span>
			        				</label>
			        			</div>
			        			<div class="filter-check">
			        				<label>
			        					<input type="checkbox">
			        					<span class="filter-check__text">
			        						<i></i>
			        						0,8 кг
			        					</span>
			        				</label>
			        			</div>
			        			<div class="filter-check">
			        				<label>
			        					<input type="checkbox">
			        					<span class="filter-check__text">
			        						<i></i>
			        						0,9 л.
			        					</span>
			        				</label>
			        			</div>
			        			<div class="filter-check">
			        				<label>
			        					<input type="checkbox">
			        					<span class="filter-check__text">
			        						<i></i>
			        						2,7 л, 9 л, 18 л
			        					</span>
			        				</label>
			        			</div>
			        			<div class="filter-check">
			        				<label>
			        					<input type="checkbox">
			        					<span class="filter-check__text">
			        						<i></i>
			        						0,75 кг
			        					</span>
			        				</label>
			        			</div>
			        			
				        	</form>	
				      	</div>
				    </div>
				</div>
				<div class="panel panel-default">
				    <div class="panel-heading" role="tab" id="headingTwelve">
				        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwelve" aria-expanded="false" aria-controls="collapseTwelve" class="collapsed filter__link js-accord">
				          длина
				          <i class="filter__icon"></i>
				        </a>
				    </div>
				    <div id="collapseTwelve" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwelve">
				      	<div class="panel-body filter__content">
				        	<form>
			        			<div class="filter-check">
			        				<label>
			        					<input type="checkbox">
			        					<span class="filter-check__text">
			        						<i></i>
			        						до 3000 м2
			        					</span>
			        				</label>
			        			</div>
			        			<div class="filter-check">
			        				<label>
			        					<input type="checkbox">
			        					<span class="filter-check__text">
			        						<i></i>
			        						0,8 кг
			        					</span>
			        				</label>
			        			</div>
			        			<div class="filter-check">
			        				<label>
			        					<input type="checkbox">
			        					<span class="filter-check__text">
			        						<i></i>
			        						0,9 л.
			        					</span>
			        				</label>
			        			</div>
			        			<div class="filter-check">
			        				<label>
			        					<input type="checkbox">
			        					<span class="filter-check__text">
			        						<i></i>
			        						2,7 л, 9 л, 18 л
			        					</span>
			        				</label>
			        			</div>
			        			<div class="filter-check">
			        				<label>
			        					<input type="checkbox">
			        					<span class="filter-check__text">
			        						<i></i>
			        						0,75 кг
			        					</span>
			        				</label>
			        			</div>
			        			
				        	</form>	
				      	</div>
				    </div>
				</div>
				<div class="panel panel-default">
				    <div class="panel-heading" role="tab" id="headingThirteen">
				        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThirteen" aria-expanded="false" aria-controls="collapseThirteen" class="collapsed filter__link js-accord">
				         ширина
				          <i class="filter__icon"></i>
				        </a>
				    </div>
				    <div id="collapseThirteen" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThirteen">
				      	<div class="panel-body filter__content">
				        	<form>
			        			<div class="filter-check">
			        				<label>
			        					<input type="checkbox">
			        					<span class="filter-check__text">
			        						<i></i>
			        						до 3000 м2
			        					</span>
			        				</label>
			        			</div>
			        			<div class="filter-check">
			        				<label>
			        					<input type="checkbox">
			        					<span class="filter-check__text">
			        						<i></i>
			        						0,8 кг
			        					</span>
			        				</label>
			        			</div>
			        			<div class="filter-check">
			        				<label>
			        					<input type="checkbox">
			        					<span class="filter-check__text">
			        						<i></i>
			        						0,9 л.
			        					</span>
			        				</label>
			        			</div>
			        			<div class="filter-check">
			        				<label>
			        					<input type="checkbox">
			        					<span class="filter-check__text">
			        						<i></i>
			        						2,7 л, 9 л, 18 л
			        					</span>
			        				</label>
			        			</div>
			        			<div class="filter-check">
			        				<label>
			        					<input type="checkbox">
			        					<span class="filter-check__text">
			        						<i></i>
			        						0,75 кг
			        					</span>
			        				</label>
			        			</div>
			        			
				        	</form>	
				      	</div>
				    </div>
				</div>
				<div class="panel panel-default">
				    <div class="panel-heading" role="tab" id="headingFourteen">
				        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFourteen" aria-expanded="false" aria-controls="collapseFourteen" class="collapsed filter__link js-accord">
				          высота
				          <i class="filter__icon"></i>
				        </a>
				    </div>
				    <div id="collapseFourteen" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFourteen">
				      	<div class="panel-body filter__content">
				        	<form>
			        			<div class="filter-check">
			        				<label>
			        					<input type="checkbox">
			        					<span class="filter-check__text">
			        						<i></i>
			        						до 3000 м2
			        					</span>
			        				</label>
			        			</div>
			        			<div class="filter-check">
			        				<label>
			        					<input type="checkbox">
			        					<span class="filter-check__text">
			        						<i></i>
			        						0,8 кг
			        					</span>
			        				</label>
			        			</div>
			        			<div class="filter-check">
			        				<label>
			        					<input type="checkbox">
			        					<span class="filter-check__text">
			        						<i></i>
			        						0,9 л.
			        					</span>
			        				</label>
			        			</div>
			        			<div class="filter-check">
			        				<label>
			        					<input type="checkbox">
			        					<span class="filter-check__text">
			        						<i></i>
			        						2,7 л, 9 л, 18 л
			        					</span>
			        				</label>
			        			</div>
			        			<div class="filter-check">
			        				<label>
			        					<input type="checkbox">
			        					<span class="filter-check__text">
			        						<i></i>
			        						0,75 кг
			        					</span>
			        				</label>
			        			</div>
			        			
				        	</form>	
				      	</div>
				    </div>
				</div>
			</div>
			<div class="filter__btns">
				<a href="#" class="btn is-yellow is-small is-bold">
					<span>показать</span>
				</a>
				<a href="#" class="btn is-yellow-border is-small is-bold">
					<span>очистить</span>
				</a>
			</div>
		</div>
	</div>
	<div class="modal">
		<div class="modal__scroll">
			<div class="container">
				<div class="row">
					<div class="modal__title">
						<span class="hidden-xs">Cписок регионов</span>
						<span class="visible-xs">Выберите город</span>
						<button class="btn-close js-btn-close" type="button"></button>
					</div>
					<div class="modal__search hidden-xs">
						<form action="#">
							<input type="text">
							<button type="button" type="submit">
							</button>
						</form>
					</div>
					<ul class="abc js-abc">
						<li class="is-active">а</li>
						<li>б</li>
						<li>в</li>
						<li>г</li>
						<li>и</li>
						<li>й</li>
						<li>к</li>
						<li>л</li>
						<li>м</li>
						<li>н</li>
						<li>о</li>
						<li>п</li>
						<li>р</li>
						<li>с</li>
						<li>т</li>
						<li>у</li>
						<li>х</li>
						<li>ч</li>
						<li>э</li>
						<li>ю</li>
						<li>я</li>
					</ul>
					<div class="region-wrap">
						<div class="region">
							<ul>
								<li class="region__item">
									<a href="#">
										Москва 
									</a>
								</li>
								<li class="region__item">
									<a href="#">
										Санкт- Петербург 
									</a>
								</li>
								<li class="region__item">
									<a href="#">
										Ярославль
									</a>
								</li>
								<li class="region__item">
									<a href="#">
										Нижний Новгород 
									</a>
								</li>
								<li class="region__item">
									<a href="#">
										Казань 
									</a>
								</li>
								<li class="region__item">
									<a href="#">
										Екатеринбург 
									</a>
								</li>
								<li class="region__item">
									<a href="#">
										Челябинск
									</a>
								</li>
								<li class="region__item">
									<a href="#">
										Новосибирск 
									</a>
								</li>
							</ul>
						</div>
						<div class="js-abc-list">
							<div class="region is-active" data-target="target-1">
								<div class="region__title">
									А
								</div>
								<ul>
									<li class="region__item">
										<a href="#">
											Абакан и Республика Хакасия
										</a>
									</li>
									<li class="region__item">
										<a href="#">
											Анадырь и Чукотский АО
										</a>
									</li>
									<li class="region__item">
										<a href="#">
											Архангельск и Архангельская область
										</a>
									</li>
									<li class="region__item">
										<a href="#">
											Астрахань и Астраханская область

										</a>
									</li>
								</ul>
							</div>
							<div class="region" data-target="target-3">
								<div class="region__title">
									Б
								</div>
								<ul>
									<li class="region__item">
										<a href="#">
											Барнаул и Барнаульская область
										</a>
									</li>
									<li class="region__item">
										<a href="#">
											Белгород и Белгородская область
										</a>
									</li>
									<li class="region__item">
										<a href="#">
											Биробиджан и Еврейская АО
										</a>
									</li>
									<li class="region__item">
										<a href="#">
											Благовещенск и Амурская область
										</a>
									</li>
									<li class="region__item">
										<a href="#">
											Брянск и Брянская область
										</a>
									</li>
									
								</ul>
							</div>
							<div class="region" data-target="target-4">
								<div class="region__title">
									В
								</div>
								<ul>
									<li class="region__item">
										<a href="#">
											Владивосток и Приморский Край
										</a>
									</li>
									<li class="region__item">
										<a href="#">
											Владикавказ и республика Северная Осетия
										</a>
									</li>
									<li class="region__item">
										<a href="#">
											Владимир и Владимирская область
										</a>
									</li>
									<li class="region__item">
										<a href="#">
											Вологда и Вологодская область
										</a>
									</li>
									<li class="region__item">
										<a href="#">
											Воронеж и Воронежская область
										</a>
									</li>
									
								</ul>
							</div>
							<div class="region" data-target="target-5">
								<div class="region__title">
									Г
								</div>
								<ul>
									<li class="region__item">
										<a href="#">
											Горно-Алтайск и Республика Алтай
										</a>
									</li>
									<li class="region__item">
										<a href="#">
											Грозный и Чеченская Республика
										</a>
									</li>							
								</ul>
							</div>
							<div class="region" data-target="target-6">
								<div class="region__title">
									И
								</div>
								<ul>
									<li class="region__item">
										<a href="#">
											Ижевск и Удмуртская Республика
										</a>
									</li>
									<li class="region__item">
										<a href="#">
											Иркутск и Иркутская область
										</a>
									</li>							
								</ul>
							</div>
							<div class="region" data-target="target-7">
								<div class="region__title">
									Й
								</div>
								<ul>
									<li class="region__item">
										<a href="#">
											Йошкар-Ола и Республика Марий-Эл
										</a>
									</li>
									<li class="region__item">
										<a href="#">
											Иркутск и Иркутская область
										</a>
									</li>							
								</ul>
							</div>
							<div class="region" data-target="target-8">
								<div class="region__title">
									К
								</div>
								<ul>
									<li class="region__item">
										<a href="#">
											Калининград и Калининградская область
										</a>
									</li>
									<li class="region__item">
										<a href="#">
											Кемерово и Кемеровская область
										</a>
									</li>
									<li class="region__item">
										<a href="#">
											Киров и Кировская область
										</a>
									</li>
									<li class="region__item">
										<a href="#">
											Кострома и Костромская область
										</a>
									</li>
									<li class="region__item">
										<a href="#">
											Курган и Курганская областьВоронеж и Воронежская область
										</a>
									</li>
									<li class="region__item">
										<a href="#">
											Курск и Курская область
										</a>
									</li>
									<li class="region__item">
										<a href="#">
											Кызыл и Республика Тыва
										</a>
									</li>
									
								</ul>
							</div>
							<div class="region" data-target="target-8">
								<div class="region__title">
									Л
								</div>
								<ul>
									<li class="region__item">
										<a href="#">
											Ленинградская область
										</a>
									</li>
									
								</ul>
							</div>
							<div class="region" data-target="target-8">
								<div class="region__title">
									М
								</div>
								<ul>
									<li class="region__item">
										<a href="#">
											Магадан и Магаданская область
										</a>
									</li>
									<li class="region__item">
										<a href="#">
											Майкоп и Республика Адыгея
										</a>
									</li>
									<li class="region__item">
										<a href="#">
											Махачкала и Республика Дагестан
										</a>
									</li>
									<li class="region__item">
										<a href="#">
											Московская область
										</a>
									</li>
									
								</ul>
							</div>
							<div class="region" data-target="target-9">
								<div class="region__title">
									Н
								</div>
								<ul>
									<li class="region__item">
										<a href="#">
											Назрань и Республика Ингушетия
										</a>
									</li>
									<li class="region__item">
										<a href="#">
											Нальчик и Кабардино-Балкарская Республика
										</a>
									</li>
									<li class="region__item">
										<a href="#">
											Нижегородская область
										</a>
									</li>
									<li class="region__item">
										<a href="#">
											Кострома и Костромская область
										</a>
									</li>
									<li class="region__item">
										<a href="#">
											Новгород и Новгородская область
										</a>
									</li>
									<li class="region__item">
										<a href="#">
											Новосибирская область
										</a>
									</li>
								</ul>
							</div>
							<div class="region" data-target="target-10">
								<div class="region__title">
									О
								</div>
								<ul>
									<li class="region__item">
										<a href="#">
											Омск и Омская область
										</a>
									</li>
								</ul>
							</div>
							<div class="region" data-target="target-11">
								<div class="region__title">
									П
								</div>
								<ul>
									<li class="region__item">
										<a href="#">
											Пенза и Пензенская область
										</a>
									</li>
									<li class="region__item">
										<a href="#">
											Пермь и Пермский Край
										</a>
									</li>
									<li class="region__item">
										<a href="#">
											Петропавловск-Камчатский и Камчатский Край
										</a>
									</li>
									<li class="region__item">
										<a href="#">
											Псков и Псковская область
										</a>
									</li>
								</ul>
							</div>
							<div class="region" data-target="target-12">
								<div class="region__title">
									Р
								</div>
								<ul>
									<li class="region__item">
										<a href="#">
											Ростов-на-Дону и Ростовская область
										</a>
									</li>
									<li class="region__item">
										<a href="#">
											Рязань и Рязанская область
										</a>
									</li>
								</ul>
							</div>
							<div class="region" data-target="target-13">
								<div class="region__title">
									С
								</div>
								<ul>
									<li class="region__item">
										<a href="#">
											Саранск и Республика Мордовия
										</a>
									</li>
									<li class="region__item">
										<a href="#">
											Свердловская область
										</a>
									</li>
									<li class="region__item">
										<a href="#">
											Смоленск и Смоленская область
										</a>
									</li>
									<li class="region__item">
										<a href="#">
											Ставрополь и Ставропольский край
										</a>
									</li>
									<li class="region__item">
										<a href="#">
											Сыктывкар и Республика Коми
										</a>
									</li>
								</ul>
							</div>
							<div class="region" data-target="target-14">
								<div class="region__title">
									Т
								</div>
								<ul>
									<li class="region__item">
										<a href="#">
											Тамбов и Тамбовская область
										</a>
									</li>
									<li class="region__item">
										<a href="#">
											Татарстан Республика
										</a>
									</li>
									<li class="region__item">
										<a href="#">
											Томск и Томская область
										</a>
									</li>
								</ul>
							</div>
							<div class="region" data-target="target-15">
								<div class="region__title">
									У
								</div>
								<ul>
									<li class="region__item">
										<a href="#">
											Улан-Удэ и Республика Бурятия
										</a>
									</li>
									<li class="region__item">
										<a href="#">
											Ульяновск и Ульяновская область
										</a>
									</li>
								</ul>
							</div>
							<div class="region" data-target="target-16">
								<div class="region__title">
									Х
								</div>
								<ul>
									<li class="region__item">
										<a href="#">
											Хабаровск и Хабаровский край
										</a>
									</li>
									<li class="region__item">
										<a href="#">
											Ханты-Мансийский автономный округ
										</a>
									</li>
								</ul>
							</div>
							<div class="region" data-target="target-17">
								<div class="region__title">
									Ч
								</div>
								<ul>
									<li class="region__item">
										<a href="#">
											Чебоксары и Чувашская Республика
										</a>
									</li>
									<li class="region__item">
										<a href="#">
											Челябинская область
										</a>
									</li>
									<li class="region__item">
										<a href="#">
											Черкесск и Республика
										</a>
									</li>
								</ul>
							</div>
							<div class="region" data-target="target-18">
								<div class="region__title">
									Э
								</div>
								<ul>
									<li class="region__item">
										<a href="#">
											Элиста и Республика Калмыкия
										</a>
									</li>
								</ul>
							</div>
							<div class="region" data-target="target-19">
								<div class="region__title">
									Ю
								</div>
								<ul>
									<li class="region__item">
										<a href="#">
											Южно-Сахалинск и Сахалинская область
										</a>
									</li>
								</ul>
							</div>
							<div class="region" data-target="target-20">
								<div class="region__title">
									Я
								</div>
								<ul>
									<li class="region__item">
										<a href="#">
											Якутск и Якутия
										</a>
									</li>
									<li class="region__item">
										<a href="#">
											Ярославская область
										</a>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script src="js/main.js"></script>
	<div class="overlay js-overlay"></div>
	<div class="overlay_transparent js-overlay"></div>
	