<div class="header">	
	<div class="container">
		<div class="row">	
			<div class="col-xs-1 hidden-lg">
				<a href="#" class="link-home">
					<img src="img/svg/home2.svg" alt="home" width="15">
				</a>
			</div>
			<div class="col-lg-2 col-sm-5 col-xs-4 no-hundred">
				<button type="button" class="link-action js-btn-open" data-body-class="has-open-modal">
					<i class="icon icon-location"></i>
					<span>Все регионы</span>
				</button>
			</div>
			<div class="col-lg-4 hidden-md hidden-xs">
				<ul class="top-menu">
					<li class="top-menu__home">
						<a href="#">
							<img src="img/svg/home.svg" alt="home" width="15">
						</a>
					</li>
					<li class="top-menu__item">
						<a href="#">
							<span>О проекте</span>
						</a>
					</li>
					<li class="top-menu__item">
						<a href="#">
							<span>Рекламодателям</span>
						</a>
					</li>
					<li class="top-menu__item">
						<a href="#">
							<span>Контакты</span>
						</a>
					</li>
				</ul>
			</div>
			<div class="col-lg-4 col-xs-12 hidden-md">
				<a href="#" class="app">
					<i class="icon-phone"></i>
					<span>Скачать мобильное приложение</span>
				</a>
			</div>
			<div class="col-lg-2 col-sm-6 col-xs-7 no-hundred">
				<div class="header__right">
					<div class="link-action no-dots ">
						<i class="icon icon-lock"></i>
						<a href="#" class="btn-link-action ">
							Регистрация
						</a>
						<span>/</span>
						<button type="button" class="btn-link-action js-enter">
							Вход
						</button>						 
					</div>
					<div class="popup js-popup">
						<form>
							<label>
								<div class="popup__input">
									<span> Логин</span>
									<input type="email">
								</div>
							</label>
							<label>
								<div class="popup__input">
									<span> Пароль</span>
									<input type="password">
								</div>
							</label>
						</form>
						<div class="popup__cover">
							<a href="#" class="popup__link is-italic">Забыли пароль?</a>
							<a href="#" class="popup__link is-right">Регистрация</a>
						</div>
						<div class="popup__btn">
							<button type="submit" class="btn-main is-yellow"><span>войти</span></button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="container">
	</div>
</div>