<div class="header-new">
	<div class="header-new__left">
		<div class="new-logo">
			<img src="./img/new-logo.png" alt="Стройка">
		</div>
	</div>
	<div class="header-new__about">
		Строительная торговая платформа
	</div>
	<div class="header-new__right">
		<ul class="header-new__nav">
			<li><a href="#">Главная</a></li>
			<li><a href="#">Новости</a></li>
			<li><a href="#">Каталог товаров</a></li>
			<li><a href="#">Купоны и скидки</a></li>
			<li><a href="#">Журнал</a></li>
			<li><a href="#">Компании</a></li>
			<li><a href="#">Школа Ремонта</a></li>
			<li><a href="#">Стройка в рассрочку</a></li>
		</ul>
		<div class="header-new__info">
			<a href="#" class="header-new__link">Регистрация</a>
			<a href="#" class="header-new__link">Войти</a>
			<div class="new-soc">
				<a href="#"><i class="icon icon-vk-new"></i></a>
				<a href="#"><i class="icon icon-fb"></i></a>
			</div>
		</div>
		<button type="button" class="btn-menu js-btn-menu js-btn-open" data-body-class="has-new-open-menu">
			<span>меню</span>
			<span class="burger">
				<span class="burger__in"></span>
			</span>
		</button>
	</div>
</div>