.footer-new
	padding: 6.5rem 0 4rem
	background-color: #2a2f36
	transition: transform .3s
	.container
		max-width: 109rem
		width: auto
		display: flex
		align-items: flex-start
		justify-content: space-between
		flex-wrap: wrap
	&__nav
		width: 18%
		+r(1023)
			width: 33%
			margin-bottom: 3rem
		+r(640)
			width: 50%

	&__apps
		width: 19%
		text-align: center
		+r(1023)
			width: auto
		+r(640)
			width: 50%
			text-align: left
		li
			margin-bottom: 3rem
			a
				display: block
			img
				display: block
				margin: 0 auto
				max-width: 100%
				+r(640)
					margin: 0
	.list__item
		margin-bottom: .8rem
		span
			font-size: 1.3rem
			border-bottom: 1px solid
			color: #cfbab9
		a
			padding-left: 0

	&__pay
		width: 10%
		font-size: 0
		+r(1023)
			width: auto
		+r(640)
			width: 50%
		+r(440)
			margin-bottom: 2rem
			width: 100%
		i
			display: block
			margin: 0 auto 1.5rem
			+r(640)
				display: inline-block
				vertical-align: middle
				margin-right: 1rem
	&__meta
		width: 17%
		text-align: right
		+r(1023)
			width: 20%
		+r(640)
			width: 30%
		+r(440)
			width: 50%

	.counters
		margin-bottom: 1rem
	.nets
		display: flex
		align-items: center
		justify-content: space-between
		&__item
			margin: 0
	.copyright
		font-size: 1.3rem
		color: #bbb
		+opensans
		margin-bottom: 1.0rem
		+r(768)
			font-size: 1.15rem
		+r(350)
			text-align: center
