body
    &.has-new-open-menu
        +r(1100)
            .header-new,
            .footer-new,
            .main
                transform: translateX(-25.3rem)

            .menu-mob
                transform: translateX(0)
            .overlay_transparent
                visibility: visible
                opacity: 1
        +r(320)
            .header-new,
            .footer-new,
            .main
                transform: translateX(-22rem)
.header-new
    border-top: 13rem solid #f6b020
    +opensans
    background-color: #2a2f36
    display: flex
    height: 30rem
    transition: transform .3s
    +r(1366)
        border-top-width: 6rem
        height: 20rem
    +r(1100)
        position: fixed
        top: 0
        right: 0
        left: 0
        z-index: 10
        border-top-width: .5rem
        height: 7rem
    +r(640)
        border-top-width: .2rem
        height: 5rem
    &__left
        display: flex
        align-items: center
        justify-content: flex-end
        padding-right: 5%
        width: 28%
        background: #71130d
        +r(1366)
            justify-content: center
            width: 26rem
            min-width: 26rem
            padding: 0
        +r(1100)
            width: 20rem
            min-width: 20rem
        +r(640)
            width: 12rem
            min-width: 12rem
    &__about
        display: none
        +r(1023)
            padding-left: 20px
            width: 127px
            color: #fff
            font-size: 1.2rem
            +opensans
            font-weight: 400
            line-height: 1.1
            text-transform: uppercase
            display: flex
            align-items: center
            justify-content: center
        +r(360)
            font-size: 10px
    &__right
        display: flex
        align-items: center
        width: 72%
        +r(1366)
            width: auto
            flex: auto
        +r(1100)
            padding-right: 1rem
            justify-content: flex-end
        .btn-menu
            display: none
            +r(1100)
                display: block
    &__nav
        position: relative
        display: flex
        flex-wrap: wrap
        justify-content: space-between
        padding-right: 2.5rem
        margin-right: 4rem
        width: 63%
        +opensans
        font-size: 1.8rem
        font-weight: 300
        line-height: 1.28
        text-transform: uppercase
        +r(1600)
            width: 75%
        +r(1200)
            margin-right: 2rem
            font-size: 1.4rem
        +r(1100)
            display: none
        &:after
            content: ''
            position: absolute
            right: 0
            top: 50%
            margin-top: -3.5rem
            height: 7rem
            width: 1px
            background: #3a3f45
        li
            min-width: 20%
            max-width: 35%
            text-align: center
            white-space: nowrap
            &:nth-child(4n)
                text-align: right
        a
            display: inline-block
            padding: 1.3rem 0
            color: #76787b
            transition: color .3s
            &:hover
                color: #fff
    &__link
        display: inline-block
        margin: 0 1.3rem
        color: #76787b
        font-size: 1.4rem
        font-weight: 300
        text-transform: uppercase
        transition: color .3s
        +r(1366)
            margin: 0 .5rem
        +r(1100)
            display: none
        &:hover
            color: #fff

.new-soc
    margin: 1rem 0 0 3rem
    +r(1100)
        display: none
    a
        display: inline-block
        padding: 1rem
        vertical-align: middle
        color: #727477
        transition: color .3s
        &:hover
            color: #fff
        
    .icon-fb
        font-size: 2rem
    .icon-vk-new
        font-size: 1.4rem

.new-logo
    img
        max-width: 100%
        max-height: 100%
        width: auto
        height: auto
    +r(1100)
        height: 4rem
    +r(640)
        height: 3rem