.new-index
    +opensans
    .add
        margin-bottom: 3rem
.container
    &__cols
        display: flex
        justify-content: space-between
    &__main
        position: relative
        flex: auto
        .container
            display: flex
            justify-content: space-between
            flex-wrap: wrap
            +r(760)
                padding: 0
            &:before,
            &:after
                display: none
    &__add
        position: relative
        width: 27rem
        min-width: 27rem
        +r(1100)
            display: none
    &_mb
        margin-bottom: 7rem
    &_width
        width: auto
        max-width: 119rem
    &_large
        width: auto
        max-width: 159rem

.seo
    margin: 2rem 0 -2.5rem
    padding: 4rem 0
    background: #3cb3c9
    .layout-row
        margin: 0
        padding: 0
    .article
        color: #fff
        h1
            font-weight: normal
            font-size: 3rem
            color: #fff
            +opensans
            +r(760)
                font-size: 2rem
        p
            color: #fff
            font-size: 1.8rem

.proposes-wrap
    margin: 1rem .5rem 3.5rem
    display: flex
    align-items: center
    flex-wrap: wrap
    +r(720)
        margin: 2rem -.5rem 3.5rem

.propose
    position: relative
    padding: 1.5rem
    width: calc(100% / 8)
    +r(1366)
        width: calc(100% / 6)
    +r(1200)
        width: calc(100% / 5)
    +r(800)
        width: calc(100% / 4)
    +r(720)
        padding: .5rem
        width: calc(100% / 3)
    +r(640)
        width: calc(100% / 2)
    &:hover
        .propose__front
            opacity: 1
            visibility: visible
            +r(1024)
                display: none !important
    &__back
        display: block
    &__front
        opacity: 0
        visibility: hidden
        position: absolute
        z-index: 2
        left: -1rem
        right: -1rem
        top: -1rem
        bottom: -1rem
        background: #fff
        box-shadow: 0 0 5px rgba(#000, .5)
        transition: opacity .3s
        color: #fff
        font-size: 12px
    &__top,
    &__bottom
        padding: .5rem 1rem
        background: #71130d
    &__top
        display: flex
        align-items: center
        justify-content: space-between
        position: absolute
        top: 0
        left: 0
        right: 0
    &__bottom
        position: absolute
        bottom: 0
        left: 0
        right: 0
    &__img
        height: 100%
        img
            display: block
            width: 100%
            height: 100%
            object-fit: cover
    &__in
        overflow: hidden
        display: block
        img
            display: block
            width: 100%
            height: 12rem
            object-fit: cover

.new-title
    text-align: center
    text-transform: uppercase
    &__in
        margin-bottom: .8rem
        display: block
    span
        display: inline-block
        position: relative
        color: #181818
        font-size: 2.4rem
        +r(640)
            font-size: 1.8rem
        &:before,
        &:after
            content: ''
            position: absolute
            top: 50%
            margin-top: -1px
            width: 13rem
            height: 2px
            background-color: #186b8c
        &:before
            right: calc(100% + 4.5rem)
        &:after
            left: calc(100% + 4.5rem)
    a
        color: #186b8c
        font-size: 1.8rem
        +r(640)
            font-size: 1.4rem
        &:hover
            color: lighten(#186b8c, 5%)

.btn-new
    display: inline-block
    padding: 0 1.8rem
    min-width: 57rem
    height: 5rem
    line-height: 5rem
    color: #fff
    border-radius: 4px
    background-color: #71130d
    font-size: 1.8rem
    +opensans
    font-weight: bold
    text-align: center
    text-transform: uppercase
    transition: background-color .3s
    &:hover
        background-color: lighten(#71130d, 5%)
    +r(640)
        min-width: inherit
    &_small
        padding: 0 1.8rem
        min-width: inherit
    &_fluid
        display: block
        width: 100%
    i
        display: inline-block
        vertical-align: middle
        margin-right: 5px
.layout-row
    position: relative
    margin: 4rem 0 0
    padding: 3rem 0 2rem
    z-index: 2
    +r(1100)
        margin-top: 0
    &_service
        //background-image: url(../img/service1.jpg)
        background-image: url(../img/service3.jpg)
        background-size: cover
        background-position: 50% 50%
        +r(1100)
            background-image: url(../img/service2.jpg)
            background-position: 55% 50%
        +r(960)
            background-position: 50%
        +r(760)
            background-image: url(../img/service1.jpg)
    .container
        position: relative
        z-index: 2
    .row
        > div
            display: flex
            justify-content: center
    &__in
        width: 47rem
        +r(1366)
            width: 50%
            padding: 0 2rem
        +r(760)
            width: 100%
            padding: 0
        &.is-small
            width: 37rem
            +r(1366)
                width: 50%
            +r(760)
                width: 100%
.title
    &_new
        +opensans
        font-weight: bold
        margin-bottom: 4rem
        font-size: 3rem
        color: #186c8d
        +r(1366)
            font-size: 2rem

.service-list
    margin-bottom: 5rem
    color: #2d2d2d
    font-size: 1.8rem
    font-weight: 300
    li
        margin-bottom: 2rem
    a
        display: inline-block
        position: relative
        padding-left: 4rem
        color: #2d2d2d
        i
            position: absolute
            left: 0
            top: 50%
            transform: translateY(-50%)
        &:hover
            span
                border-color: transparent
    span
        border-bottom: 1px solid

[class^="i-"]
    display: inline-block
    vertical-align: middle
.i-icon1
    +s($icon1)
.i-icon2
    +s($icon2)
.i-icon3
    +s($icon3)
.i-icon4
    +s($icon4)
.i-icon5
    +s($icon5)
.i-icon6
    +s($icon6)
.i-icon7
    +s($icon7)
.i-icon8
    +s($icon8)
.i-send
    +s($send)

.links-list
    margin-bottom: 6rem
    li
        margin-bottom: .5rem

.new-link
    color: #186c8d
    font-size: 1.8rem
    font-weight: 300
    text-decoration: underline

.new-post
    margin-bottom: 2rem
    display: block
    +clr
    &__img
        float: left
        width: 11.6rem
        +r(480)
            float: none
            margin-bottom: 2rem
            width: 100%
        img
            display: block
            width: 100%
            height: auto
            +r(480)
                max-height: 25rem
                object-fit: cover
    &__main
        overflow: hidden
        padding-left: 5.5rem
        color: #040404
        font-size: 1.4rem
        +r(1366)
            padding-left: 1.5rem
        +r(480)
            padding-left: 0
    &__title
        margin-bottom: 1rem
    &_small
        padding: 2rem
        box-shadow: 0 0.3rem 0.7rem rgba(0, 0, 0, 0.35)
        background-color: #e0e0e0
        transition: box-shadow .3s
        &:hover
            box-shadow: 0 0.3rem 0.7rem rgba(0, 0, 0, 0.1)
        .new-post__img
            width: 8rem
            height: 8rem
            +r(480)
                float: left
            img
                width: 100%
                height: 100%
                object-fit: cover
        .new-post__main
            padding-left: 1.5rem

.deal
    position: relative
    display: block
    margin: 0 0 6rem
    width: 100%
    height: 22rem
    box-shadow: 0 0.3rem 0.7rem rgba(0, 0, 0, 0.35)
    transition: box-shadow .3s
    &:hover
        box-shadow: 0 0.3rem 0.7rem rgba(0, 0, 0, 0.1)
    &__badge
        position: absolute
        left: 0
        top: 0
        padding: 0 .5rem 0 1.7rem
        line-height: 6rem
        height: 6rem
        color: #fff
        font-size: 3rem
        +opensans
        font-weight: bold
        background-color: #71130d
        text-transform: uppercase
        +r(1100)
            font-size: 2rem
        &:after
            content: ''
            position: absolute
            left: 100%
            top: 0
            +arr(3,6,#71130d,tl)
    img
        display: block
        width: 100%
        object-fit: cover
        height: 100%

.intro
    position: relative
    margin-bottom: 7rem
    z-index: 3
    padding: 5rem 0
    background: url(../img/bg.jpg)
    +r(1100)
        margin-top: 7rem
    +r(760)
        padding: 1rem 0
    +r(640)
        margin: 5rem 0 4rem
    +cover
    .container
        display: flex
        align-items: center
        justify-content: space-between
        +r(1023)
            justify-content: center

.logo-big
    text-shadow: 0 0 2.8rem rgba(0, 0, 0, 0.35)
    color: #fff
    font-size: 2.8rem
    +opensans
    font-weight: 400
    line-height: 1
    text-transform: uppercase
    +r(1366)
        width: 40rem
        font-size: 1.6rem
    +r(1200)
        width: 22rem
        font-size: 1.4rem
    +r(1023)
        display: none
    img
        display: block
        max-width: 100%
        height: auto
        +r(1366)
            margin-bottom: 2rem

.new-search
    position: relative
    padding: 2rem 3rem
    filter: drop-shadow(0 0.3rem 0.7rem rgba(0, 0, 0, 0.25))
    border-radius: 2px
    background: #fff
    +r(640)
        width: 100%
        padding: 2rem 1.5rem
    &:before
        content: ''
        position: absolute
        left: -3rem
        top: 50%
        margin-top: -2.5rem
        +arr(3.1, 5, #fff, l)
        +r(1023)
            display: none
    .input-new
        margin-bottom: 2.7rem
    .select-cells
        margin-bottom: 4rem

.input-new
    display: block
    height: 4.8rem
    border-bottom: 1px solid #186b8c
    padding: 0 1rem
    width: 100%
    font-weight: 400
    +opensans
    font-size: 1.4rem
    +r(360)
        font-size: 1.2rem
        height: 4rem
        text-transform: none

.select-cells
    display: flex
    align-items: center
    justify-content: space-between
    +r(640)
        flex-direction: column
    .select-filter_new
        width: 30%
        +r(640)
            width: 100%
        &:last-child
            .select-filter__list
                left: auto
                right: 0


.select-filter_new
    position: relative
    .select-filter__field
        padding-right: 2rem
        border: 0
        border-bottom: 1px solid #186b8c
        width: 100%
        height: 4.8rem
        line-height: 4.8rem
        +text-overflow
        +r(360)
            height: 4rem
            line-height: 4rem
        span
            color: #181818
            +opensans
            font-size: 1.3rem
            font-weight: 400
            //+r(360)
            //    font-size: 1.6rem
        &:after
            content: ''
            position: absolute
            right: 0
            top: 50%
            margin-top: -.3rem
            +arr(1,.6,#000,b)
    .select-filter__list
        top: 100%
        min-width: 20rem
        li
            &[data-value]
                +opensans

.btn-menu
    span
        +r(767)
            display: inline-block
    > span
        +r(767)
            display: block
            &:first-child
                display: none